# Application
APP_NAME="Docker Fullstack Boilerplate"
APP_VERSION=0.1.0

COMPOSE_PROJECT_NAME=docker-fullstack

DEBUG=True

# Use command `make generate-secret-key`
SECRET_KEY=change-me

# Development ports (Docker)
BACKEND_PORT=8010
FRONTEND_PORT=3010
NGINX_PORT=8088

# Public frontend URL
FRONTEND_URL=http://localhost:8088/dashboard

LOG_LEVEL=INFO

# Database
POSTGRES_DB=docker_fullstack
POSTGRES_USER=docker_fullstack
POSTGRES_PASSWORD=docker_fullstack
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_PORT=6380

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

PASSWORD_MIN_LENGTH=8

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@localhost

# Comma-separated list of allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# Comma-separated list of allowed frontend origins (not needed if Nginx enabled)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3010
CSRF_TRUSTED_ORIGINS=http://localhost:8088


# Environment
# dev: run migrations, collectstatic and periodic tasks
# prod: run migrations and periodic tasks
# ci: avoid running initial tasks in Github Actions
ENVIRONMENT=dev
