APP_NAME="Docker Fullstack Boilerplate"
APP_VERSION=0.1.0

COMPOSE_PROJECT_NAME=docker-fullstack

DEBUG=True

SECRET_KEY=change-me

BACKEND_PORT=8010

POSTGRES_DB=docker_fullstack
POSTGRES_USER=docker_fullstack
POSTGRES_PASSWORD=docker_fullstack

# Postgres in docker network
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Postgres in host machine
POSTGRES_HOST_PORT=5433

# Redis in docker network
REDIS_HOST=redis
REDIS_PORT=6379

# Redis in host machine
REDIS_HOST_PORT=6380

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

FRONTEND_URL=http://localhost:8081

PASSWORD_MIN_LENGTH=8

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@localhost
