.account-content {
  max-width: 760px;

  .v-card-title {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    .v-btn {
      font-size: 0.8rem !important;
      &.invisible {
        visibility: hidden;
      }
    }
  }
}
