.hub-content,
.v-overlay__content {
  max-width: 95%;

  .hub-card {
    min-height: 500px;
    border-color: rgba(var(--v-theme-primary), 0.3) !important;

    &:hover {
      border-color: rgba(var(--v-theme-primary), 0.6) !important;
    }
  }
}
